
<head>
    <script src="/javascript/login.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
</head>
<body>
    <br>
    <div class="bg-image"></div>
    <div class="main">
        <h2 id="pagetitle">Login Page</h2>
        <div class="form">
            <form method="POST" action="/login">
                <label id="label_username" for="username">Enter Username</label>
                <input id="input_username" type="text" placeholder="Enter your username" name="username" tabindex="1" required>
                <br>
                <label id="label_password" for="Password">Enter Password</label>
                <input id="input_password" type="password" placeholder="Enter your password" name="Password" tabindex="2" required>
                <br>
                <button type="submit" id="btnSubmit" tabindex="3">Login</button>
            </form>
            <a href="/forgot" tabindex="4" id="forgot_link">Forgot Password?</a>
            <br>
            <br>
            <div class="btnNo_account">
                <a href="/register"><button id="register_link" tabindex="5">No Account? Click here</button></a>
            </div>
        </div>
    </div>
</body>
